<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>クリ★スタコーディング課題【中級編】</title>
  <meta name="description" content="">
  <!-- 検索結果から除外する -->
  <meta name="robots" content="none">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="<%= path %>/img/favicon/apple-touch-icon.png" />
  <link rel="icon" href="<%= path %>/img/favicon/favicon.ico" />
  <!-- CSS -->
  <link rel="stylesheet" href="<%= path %>/css/style.css" />
</head>

<body>
  <!-- ヘッダーここから -->
  <header class="l-header">
    <div class="p-header">
      <div class="p-header__inner">
        <div class="p-header__logo">
          <a href="<%= path %>/index.php">
            <h1>Cresta Design</h1>
          </a>
        </div>
        <nav class="p-header__nav">
          <ul class="p-header__list">
            <li class="p-header__item"><a class="js-smoothscroll" href="<%= scrollPath %>#concept">Concept</a></li>
            <li class="p-header__item"><a class="js-smoothscroll" href="<%= scrollPath %>#service">Service</a></li>
            <li class="p-header__item"><a class="js-smoothscroll" href="<%= scrollPath %>#works">Works</a></li>
            <li class="p-header__item"><a class="js-smoothscroll" href="<%= scrollPath %>#contact">Contact</a></li>
          </ul>
        </nav>
        <a class="p-header__menu">
          <span class="p-header__menuLine"></span>
          <span class="p-header__menuLine"></span>
          <span class="p-header__menuLine"></span>
        </a>
      </div>
    </div>
  </header>
  <!-- ヘッダーここまで -->